body {
  color: #666;
  font-family: "Chivo";
  font-weight: 400;
  background-color: #efefef;
}

h1, h2 {
  font-weight: 900;
}

h1 {
  font-size: 30px;
  margin-bottom: 20px;
}

h2 {
  font-size: 17px;
  margin-bottom: 20px;
}

#wrap {
  position: relative;
  width: 900px;
  margin: 50px auto;
}