body {
  color: #222;
  font-family: "Raleway";
  font-weight: 400;
  background-color: #0770b1;
  position: relative;
  height: 100%;
  @include background-image(linear-gradient(#0770b1, #99cde3));
}

h1, h2 {
  font-family: "Sniglet";
  font-weight: 900;
}

h1.logo {
  color: #222;
  font-size: 120px;
  margin-bottom: 40px;
  text-align: center;
  text-shadow: 0 0 4px #000;

  span { cursor: pointer; }
}

h2 {
  font-size: 17px;
  margin-bottom: 20px;
}

#wrap {
  position: relative;
  width: 900px;
  min-height: 800px;
  margin: 50px auto;
}