// Vars
$menuWidth: 250px;
$borderColor: #ffffff;

.converter {
	position: relative;
	height: 120px;

	.input {
		width: 40%;
		position: absolute;
		top: 40px;
		text-align: center;

		&.unit { left: 0; }
		&.katamari { right: 0; }

		input[type=text] {
			border: 2px solid $borderColor;
			width: $menuWidth;
			padding: 10px 0px;
			font-size: 30px;
			text-align: center;
			color: $borderColor;
			background-color: transparent;
			@include border-top-radius(7px);
			outline: 0;
			-webkit-font-smoothing: antialiased;
			font-family: "Raleway";
		}
	}

	select {
		position: relative;
		margin-top: -2px;
		display: inline-block;
		width: $menuWidth + 4px;
		background-color: #fff;
		border-left: 3px solid $borderColor;
		border-right: 3px solid $borderColor;
		border-bottom: 3px solid $borderColor;
		border-top: 0px;
		cursor: pointer;
		left: 0;
		padding: 10px;
		font-size: 16px;
		line-height: 1;
		-webkit-appearance: none;
		-webkit-font-smoothing: antialiased;
		text-align: center;
		color: #51a1cc;
		border-radius: 0;
		@include border-bottom-radius(7px);
		outline: 0;
		font-weight: bold;
		font-family: "Raleway";

		&:hover { background-color: white; }
	}

}