h1.logo {
	font-family: "Sniglet";
	font-weight: 900;
	color: #222;
	font-size: 120px;
	margin-bottom: 40px;
	text-align: center;
	-webkit-text-stroke-width: 5px;
	-webkit-text-stroke-color: white;
	letter-spacing: -10px;
	text-shadow: 0 0 20px rgba(0, 0, 0, .8);

	span {
		cursor: pointer;

		&.c1 { color: #fe0d74; }	
		&.c2 { color: #fbb100; }	
		&.c3 { color: #fff904; }	
		&.c4 { color: #9cfa20; }	
		&.c5 { color: #3bfdfd; }	
		&.c6 { color: #4909fe; }	
		&.c7 { color: #d425fe; }	
		&.c8 { color: #f922f0; }	
	}
	
}

 // @include background-image(linear-gradient(#fe0d74, #e90062));
 // @include background-image(linear-gradient(#fbb100, #e6a404));
 // @include background-image(linear-gradient(#fff904, #e3e207));
 // @include background-image(linear-gradient(#9cfa20, #83e900));
 // @include background-image(linear-gradient(#3bfdfd, #03e1e2));
 // @include background-image(linear-gradient(#4909fe, #3d04eb));
 // @include background-image(linear-gradient(#d425fe, #b300e4));
 // @include background-image(linear-gradient(#f922f0, #ea04da));