.slider {
	position: absolute;
	width: 42%;
	left: 0;
	height: 100px;
	margin: 20px auto 40px auto;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: moz-none;
	-ms-user-select: none;
	user-select: none;

	.grabber {
		width: 63px;
		height: 63px;
		background-image: url(../img/ball.png);
		position: relative;
		z-index: 2;
		cursor: pointer;
		@include transition(all 100ms ease-out);

		&:hover {
			@include scale(1.1);
		}
	}

	.bg {
		position: absolute;
		height: 2px;
		width: 100%;
		background-color: #fff;
		z-index: 1;
		top: 30px;
	}

	.scale {
		position: absolute;
		top: 40px;
		width: 100%;


		li {
			position: absolute;
			width: 100px;
			text-align: center;
			font-size: 10px;
			color: #fff;
			top: -30px;

			&.left { left: 0; text-align: left; }
			&.right { right: 0; text-align: right; }

		}
	}
}